/* Css Resat */
body {
    position: relative;
    width: 1080px;
    height: 800px;

    background: #82CCDD;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 30px 30px;
    gap: 24px;

    position: absolute;
    width: 360px;
    height: 527px;
    left: 460px;
    top: 102px;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(77, 166, 186, 0.38);
    border-radius: 20px;
}

/* Payment info */

.top h2 {
    width: 350px;
    height: 23px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    /* Black */

    color: #030102;

}

/* Input Name */

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 300px;
    height: 69px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* lbl name */

.lbl-name {
    width: 72px;
    height: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Black */

    color: #030102;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 20px;
}

/* Text Fields */

.inp-name {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    width: 300px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #E2E6EE;
    box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 20px;
}

/* Number Fields */

.number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 300px;
    height: 69px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.lbl-num {

    margin-top: 24px;

    width: 141px;
    height: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Black */

    color: #030102;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 20px;
}

.inp-num {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    width: 300px;
    height: 40px;

    background: #E2E6EE;
    border: 1px solid #E2E6EE;
    box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 20px;
}

/* Exp Cvv */
.exp_cvv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 300px;
    height: 69px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

/* Exp Data */

.exp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 90px;
    height: 30px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.lbl_exp {
    margin-top: 44px;

    width: 141px;
    height: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Black */

    color: #030102;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 24px;
}

.inp_exp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    width: 90px;
    height: 30px;
    border: 1px solid #E2E6EE;

    background: #E2E6EE;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 24px;
}

/* Cvv */

.cvv {
    display: flex;
    margin-top: 44px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 90px;
    height: 30px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.lbl_cvv {
    width: 31px;
    height: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Black */

    color: #030102;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.inp_cvv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    width: 90px;
    height: 30px;
    border: 1px solid #E2E6EE;

    background: #E2E6EE;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* Zip code */

.zip-code {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 300px;
    height: 69px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 40px;
}

.lbl_zip {

    margin-top: 24px;

    width: 141px;
    height: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* Black */

    color: #030102;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 20px;
}

.inp_zip {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    width: 300px;
    height: 40px;

    background: #E2E6EE;
    border: 1px solid #E2E6EE;
    box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 20px;
}


/* COnfrim */
.confrim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 300px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 40px;
    margin-left:20px;
}

.btn_conf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    width: 300px;
    height: 40px;
    color: #fff;
    /* Blue */
    border: 1px solid #E2E6EE;
    background: #288FB4;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.confrim p {
    width: 172px;
    height: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    /* Black */

    color: #030102;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}